@import "tailwindcss";
@plugin "daisyui";

[data-button-root] {
    height: 3rem;
    width: 100%;
    background-color: #3182ce;
    color: white;
    border-radius: 0.375rem;
    padding: 0.5rem 1rem;
    font-weight: 500;
  }

  [data-button-root]:hover {
    background-color: #2c5282;
  }